<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aplicación Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script>
        function toggleSection(sectionId, isVisible) {
            const section = document.getElementById(sectionId);
            section.style.display = isVisible ? 'block' : 'none';
        }
    </script>
</body>
</html>
